@import 'config';

body {
    background: $tertiary-color;
    padding: 80px 0 0 0;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
}

.noFill {
    fill: none;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: $primary-color;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    input {
        width: 100%;
        height: 50px;
        float: left;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        text-indent: 1rem;
        padding: 0 60px 0 0;
        background: rgba($secondary-color, $alpha: 0.2);
        border-top-left-radius: 5px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 25px;
        border: 0px;
        box-shadow: none;
        outline: none;

        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        
        &::-webkit-input-placeholder {
            color: rgba($secondary-color, $alpha: 0.75);
        }
    }

    button {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 2;
        border-radius: 25px;
        border: 0px;
        background: $secondary-color;
        box-shadow: none;
        outline: none;

        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;

        svg {
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -8px 0 0 -8px;

            .fill {
                fill: $primary-color;
            }
        }
    }
}

.container {
    width: 100%;
    float: left;
    padding: 15px;
}

.todo {
    width: 100%;
    float: left;

    li {
        width: 100%;
        min-height: 50px;
        position: relative;
        float: left;
        font-size: 0.9rem;
        font-weight: 500;
        color: #444;
        line-height: 1.3rem;
        background: $secondary-color;
        border-radius: 5px;
        box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
        margin: 0 0 10px 0;
        padding: 14px 100px 14px 14px;

        &:last-of-type {
            margin: 0;
        }

        .buttons {
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0;

            button {
                width: 50px;
                height: 50px;
                float: left;
                background: none;
                position: relative;
                border: 0px;
                box-shadow: none;
                outline: none;
                cursor: pointer;

                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;

                &:last-of-type:before {
                    content: '';
                    width: 1px;
                    height: 30px;
                    position: absoluite;
                    top: 1px;
                    left: 0;
                    background: $tertiary-color;
                }

                svg {
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -11px 0 0 -11px;
                }
            }

            .remove svg .fill {
                fill: #c0cecb; 
            }

            .remove:hover svg .fill {
                fill: #c85656; 
            }

            .complete svg {
                border-radius: 11px;
                border: 1.5px solid #25b99a;
                @include bg;
            }

            .complete svg .fill {
                fill: #25b99a; 
            }
        }
    }
}

ul.todo#completed li .buttons button.complete svg {
    background: #25b99a;
    border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
    background: rgba(37, 185, 154, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
    fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill{
    fill: $secondary-color;
}

ul.todo#completed:not(:empty) {
    padding: 60px 0 0 0;
    position: relative;
}

ul.todo#completed:not(:empty):before {
    content: '';
    width: 150px;
    height: 1px;
    background: #d8e5e0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px;
}